- provide(:title, "とはペディアについて | 108文字のとはペディア")
- provide(:description, "投稿型マイクロ百科事典『とはペディア』について")
- breadcrumb :about
.wrapper
  .static_page
    %h1 とはペディアについて
    %p とはペディアはウィキペディアのように誰でも書き込むことができる、投稿型マイクロ百科事典です。<br>投稿情報の真偽につきましては一切の責任を負いませんので、ご理解の上ご利用ください。

    %h2 使い方
    %p 20文字以内の語句（とは）とその意味を108（とは）文字以内で投稿することができます。<br>また、すでに投稿されている『とは』に追加して意味を投稿することもできます。<br>投稿された語句の意味各々には、電球マーク1,2,3で納得度を投票することができるので、なるほどと思った意味にはぜひ投票してみてください。<br>納得度の高い意味が上位表示されるようになっているため、みんなが納得している適切な意味が簡単に見つかります。

    %h2 とはペディアの存在価値
    %p 検索窓に一般名詞のあとにスペースを空けて『とは』と打つ『とは検索』は広く知れ渡っており、日本語のほぼ全ての語句の意味を一瞬で調べることができます。<br>また、ウィキペディアを使えば、より詳しい情報も瞬時に見つけることができるとても便利な時代になりました。
    %h3 1つの語句でも多様な意味を発見できる
    %p しかし、言葉とは面白いもので、例えば『仕事』という語句1つでも『お金を稼ぐための労働』という意味と捉える人もいれば『人生の大半を占める生きがい』と考える人もいると思います。<br>とはペディアでは、誰でも自由に、そして簡潔に語句の意味を投稿できることで、1つの語句でも様々な境遇の人たちが考える多様な意味を発見することができます。
    %h3 語句を簡潔に理解し、使うことができる
    %p ある語句をウィキペディアで調べたときに、その語句がどういう意味を持っているのかよくわかると思います。<br>では、その語句を誰かに説明するとなると、自分では理解しているつもりでもなかなか言葉にはできないのではないでしょうか。<br>言葉を人に説明したり、自分の頭の中で物事を考えるときに使うには、その言葉を簡潔に理解している必要があります。<br>とはペディアでは意味の投稿に108文字制限を設けることで、その意味に無駄な言葉が排除されてより洗練された意味が集まります。<br>また、その意味は理解がしやすく、すぐに使うことができるでしょう。
