$acacia:         #ffd828;
$acacia_hover:   #efc60b;
$dark_gray:      #a9a9a9;
$light_gray:     #d1d1d1;
$blue:           #1e90ff;
$blue_hover:     #1d72c4;
$font_black:     #555555;

$brand-primary:  #1e90ff;
