.right-content
  %p.sponsored-text SPONSORED LINK
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  / 336×280予約
  %ins{class: "adsbygoogle",
       style: "display:inline-block;width:336px;height:280px",
       data:{ad:{client: "ca-pub-9627911157097400", slot: "1371126305"}}}
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
