.user-info
  .account_image-box
    = image_tag "useraccount.png", class: "account_image"
  %p.user-name
    = current_user.name
  %p.user-title
    = current_user.title
  %p.user-profile
    = current_user.profile
