.dashboard {
  color: $font_black;
  width: 800px;
  margin: 0 auto;
  .dashboard__title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
  }
  .dashboard__description {
    display: inline-block;
    margin-left: 16px;
  }
  p {
    margin: 0;
  }
  table {
    width: 100%;
    margin-bottom: 40px;
    tr {
      border-bottom: 1px solid #999;
      height: 40px;
    }
    .dashboard__data--head {
      display: inline-block;
      font-size: 16px;
      width: 40%;
      line-height: 40px;
      padding-top: 5px;
    }
    .dashboard__data--body {
      display: inline-block;
      font-size: 16px;
      width: 55%;
      padding-top: 5px;
    }
    .dashboard__users--id {
      display: inline-block;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      width: 15%;
    }
    .dashboard__users--name {
      display: inline-block;
      font-size: 16px;
      width: 55%;
      a {
        text-decoration: none;
      }
    }
    .dashboard__users--meaning {
      display: inline-block;
      font-size: 16px;
      width: 30%;
    }
  }
  .dashboard__users {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .dashboard {
    width: 100%;
    padding: 5px 15px;
  }
}
