.footer {
  border-top: 1px solid $light_gray;
  border-bottom: 3px solid $acacia;
  margin-top: 30px;
  ul {
    margin: 10px 20px;
    li {
      a {
        color: $font_black;
        text-decoration: none;
      }
    }
  }
  .copyright {
    color: $font_black;
    text-align: center;
    margin-bottom: 10px;
  }
}
