.meaning__box {
  border: solid 1px $darkgray;
  border-radius: 6px;
  margin: 0 0 6px 0;
  h2{
    font-size: 24px;
    margin: 12px;
  }
  &-meaning {
    font-size: 18px;
    margin: 12px;
  }
  &-user-shumbnail {
    margin-left: 18px;
    float: left;
  }
  &-user-name {
    font-size: 14px;
    margin: 3px 0 0 66px;
  }
  &-user-title {
    font-size: 12px;
    color: $darkgray;
    margin: 0 0 6px 66px;
  }
}
