// ホーム、マイペディア、とは詳細ページの意味ボックス
.o-3column .col-md-4 {
  padding: 0 4px;
}

.meaning__box {
  border: solid 1px $dark_gray;
  border-radius: 6px;
  margin: 0 0 6px 0;
  padding-bottom: 5px;
  h2{
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 10px 12px 10px 12px;
    height: 50px;
    margin: 0;
    .meaning__box-towa {
      text-decoration: none;
      color: $blue;
    }
    .meaning__box-towa:hover {
      color: $blue_hover;
    }
  }
  &-meaning-box {
    overflow: hidden;
    width: 100%;
    .meaning__box-meaning {
      margin: 0 12px 12px 12px;
      color: $font_black;
      height: 44px;
      font-size: 12px;
      padding: 5px 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
  &-user {
    height: 36px;
    padding-top: 3px;
    float: left;
    &-shumbnail {
      margin-left: 18px;
      float: left;
      .meaning__box-user-image {
        border: 1px solid $light_gray;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
    &-name {
      color: $font_black;
      font-size: 12px;
      margin: 0 0 0 60px;
    }
    &-name a:hover {
      color: $blue_hover;
      text-decoration: none;
    }
    &-title {
      font-size: 8px;
      color: $dark_gray;
      margin: 0 0 0 60px;
    }
  }
  .meaning__box-footer {
    display: inline-block;
    @includes clearfix();
    width: 100%;
    .lights-count__box {
      border: 1px solid $dark_gray;
      border-radius: 3px;
      display: inline-box;
      float: right;
      margin-right: 20px;
      padding: 3px 10px;
      .lights-count__box--label {
      margin-right: 10px;
      }
      .lights-count__box--count {
        color: $font_black;
      }
    }
    .meaning__box-datatime {
      clear: both;
      color: $dark_gray;
      font-size: 12px;
      float: right;
      margin-right: 20px;
    }
  }
}
