.navbar {
  margin-bottom: 0;
  padding-bottom: 10px;
  .container-fluid {
    border-top: 3px solid $acacia;
    border-bottom: 1px solid $light_gray;
    height: 49px;
    background-color: white;
    .navbar-header {
      height: 44px;
      .navbar-toggle {
        border: 1px solid $dark_gray;
        margin: 5px 20px 0 0;
        .icon-bar {
          background-color: $dark_gray;
          width: 22px;
        }
      }
      .navbar-brand {
        font-family : 'nicoca';
        font-size: 24px;
        color: white;
        text-shadow: 2px 2px 1px $font_black,
        -2px 2px 1px #000,
        2px -2px 1px #000,
        -2px -2px 1px #000;
        letter-spacing: 4px;
        margin: 0 40px 0 30px;
        padding-top: 11px;
        height: 43px;
      }
    }
    .navbar-collapse {
      height: 159px;
      background-color: white;
      border-bottom: 1px solid $light-gray;
      .navbar-form {
        display: inline-block;
        margin-top: 7px;
        .input-group {
          display: inline-flex;
          width: 330px;
          .search_form {
            border-radius: 3px;
            height: 30px;
          }
          .search_towa {
            display: inline-block;
            width: 60px;
            margin: 0 0 0 8px;
            font-size: 16px;
            line-height: 30px;
            color: $font_black;
          }
          .input-group-btn {
            .btn-default {
              border-radius: 3px;
              background-color: $acacia;
              border: 1px solid $light_gray;
              color: white;
              padding: 4px 16px;;
            }
            .btn-default:hover {
              background-color: $acacia_hover;
            }
          }
        }
      }
      .navbar-nav {
        margin: 0;
        .nav-logout-btn {
          color: $font-black;
          line-height: 45px;
          padding: 0 15px;
        }
        .nav-logout-btn:hover {
          background-color: white;
          color: $dark_gray;
          height: 45px;
          border-bottom: 3px solid $acacia;
        }
        .nav-mypedia-btn {
          color: $font-black;
          line-height: 45px;
          padding: 0 15px;
        }
        .nav-mypedia-btn:hover {
          background-color: white;
          color: $dark_gray;
          height: 45px;
          border-bottom: 3px solid $acacia;
        }
        .nav-registration-btn {
          color: $font-black;
          line-height: 45px;
          padding: 0 15px;
        }
        .nav-registration-btn:hover {
          background-color: white;
          color: $dark_gray;
          height: 45px;
          border-bottom: 3px solid $acacia;
        }
        .nav-login-btn {
          color: $font-black;
          line-height: 45px;
          padding: 0 15px;
          margin-right: 40px;
        }
        .nav-login-btn:hover {
          color: $dark_gray;
          height: 45px;
          background-color: white;
          border-bottom: 3px solid $acacia;
        }
      }
    }
  }
}
