.navbar {
  .container-fluid {
    border-top: 4px solid $acacia;
    border-bottom: 1px solid $light_gray;
    padding-top: 1px;
    background-color: white;
    .navbar-header {
      .navbar-toggle {
        height: 37px;
        border: 1px solid $dark_gray;
        .icon-bar {
          background-color: $dark_gray;
          width: 26px;
        }
      }
      .navbar-brand {
        font-family : 'nicoca';
        font-size: 28px;
        color: white;
        text-shadow: 2px 2px 1px $font_black,
        -2px 2px 1px #000,
        2px -2px 1px #000,
        -2px -2px 1px #000;
        letter-spacing: 3px;
        margin-left: 18px;
        padding-right: 50px;
      }
    }
    .navbar-collapse {
      .navbar-form {
        display: inline-block;
        .input-group {
          display: inline-flex;
          width: 330px;
          .search_form {
            border-radius: 3px;
            font-size: 16px;
          }
          .search_towa {
            display: inline-block;
            width: 60px;
            margin: 0 0 0 8px;
            font-size: 16px;
            line-height: 34px;
            color: $font_black;
          }
          .input-group-btn {
            .btn-default {
              border-radius: 3px;
              background-color: $acacia;
              border: 1px solid $light_gray;
              color: white;
              font-size: 16px;
              padding: 4px 16px;;
            }
            .btn-default:hover {
              background-color: $acacia_hover;
            }
          }
        }
      }
      .navbar-nav {
        margin: 0;
        .nav-logout-btn {
          font-size: 16px;
          color: $font-black;
        }
        .nav-logout-btn:hover {
          background-color: white;
          color: $dark_gray;
          border-bottom: 4px solid $acacia;
        }
        .nav-mypedia-btn {
          font-size: 16px;
          color: $font-black;
        }
        .nav-mypedia-btn:hover {
          background-color: white;
          color: $dark_gray;
          border-bottom: 4px solid $acacia;
        }
        .nav-registration-btn {
          font-size: 16px;
          color: $font-black;
        }
        .nav-registration-btn:hover {
          background-color: white;
          color: $dark_gray;
          border-bottom: 4px solid $acacia;
        }
        .nav-login-btn {
          font-size: 16px;
          color: $font-black;
        }
        .nav-login-btn:hover {
          color: $dark_gray;
          background-color: white;
          border-bottom: 4px solid $acacia;
        }
      }
    }
  }
}
