.static_page {
  color: $font_black;
  width: 800px;
  margin: 0 auto;
  p {
    line-height: 22px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid $acacia;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid $acacia;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    border-left: 3px solid $acacia;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 767px) {
  .static_page {
    width: 100%;
    padding: 5px 15px;
  }
}
