.form-towa {
  color: #000;
  border: solid 1px $dark_gray;
  border-radius: 3px;
  width: 85%;
  height: 30px;
  padding: 0 12px;
  margin-bottom: 6px;
}
.form-meaning {
  color: #000;
  border: solid 1px $dark_gray;
  border-radius: 3px;
  width: 100%;
  height: 72px;
  padding: 6px 12px;
  resize: none;
}
.form-towa-submit {
  color: $blue;
  font-size: 16px;
  background-color: white;
  border: 1px solid $blue;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 6px 0;
  margin: 0 auto;
  margin-bottom: 15px;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $blue;
  }
}
