// とは詳細ページ
.towa__detail {
  .towa__detail--header {
    border-left: 4px solid $acacia;
    padding: 10px 20px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    h1 {
      color: $font_black;
      font-size: 20px;
      margin: 5px 0;
      padding-bottom: 10px;
      border-bottom: 1px dotted $dark_gray;
    }
    p {
      color: $font_black;
      font-size: 12px;
      margin: 10px 0 0 0;
    }
  }
  .towa__detail--meanings {
    .towa__detail--meanings-box {
      border: solid 1px $dark_gray;
      border-radius: 3px;
      margin-bottom: 6px;
      .towa__detail--meaning {
        color: $font_black;
        margin: 12px 12px 0 12px;
        font-size: 16px;
      }
      .towa__detail--referer-box {
        display: inline-block;
        margin: 0 12px 3px 12px;
        .towa__detail--referer-label {
          color: $font_black;
          margin-right: 5px;
          font-size: 12px;
        }
        .towa__detail--referer {
          a {
            color: $blue;
            text-decoration: none;
          }
          a:hover {
            color: $blue_hover;
          }
        }
      }
      #lights {
        text-align: center;
      }
    }
  }
  .towa__detail--form {
    padding: 15px 10px 1px 10px;
    border: 1px solid $light_gray;
    border-radius: 3px;
    background-color: #f9f9f9;
  }
}
