.user-info {
  margin-bottom: 18px;
  .user-name {
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 6px;
  }
  .user-title {
    color: $darkgray;
    text-align: center;
  }

  .noaccount_image {
    text-align: center;
  }
  .noaccount_name {
    font-size: 18px;
    color: $lightgray;
    text-align: center;
  }
  .new-registration_btn {
    font-size: 16px;
    color: $blue;
    text-align: center;
    border: 1px solid $blue;
    border-radius: 6px;
    display: block;
    width: 220px;
    padding: 6px 0;
    margin: 0 auto;
    margin-bottom: 12px;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: $blue;
    }
  }
}
