.user-info {
  margin-bottom: 18px;
  .account_image-box {
    .account_image {
      border: 1px solid $light_gray;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      object-fit: cover;
      display: block;
      clear: both;
    }
  }
  .user-config {
    float: right;
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 3px 5px;
    display: inline-block;
  }
  .user-config:hover {
    color: #fff;
    background-color: $blue;
  }
  .user-name {
    font-size: 18px;
    color: $font_black;
    text-align: center;
    margin: 10px 0 0 0;
  }
  .user-title {
    color: $dark_gray;
    text-align: center;
    margin: 6px 0 10px 0;
  }
  .user-profile {
    color: $font_black;
    text-align: center;
  }
  .noaccount_name {
    font-size: 18px;
    color: $light_gray;
    text-align: center;
    padding: 5px 0 3px 0;
  }
  .new-registration_btn {
    font-size: 16px;
    color: $blue;
    text-align: center;
    border: 1px solid $blue;
    border-radius: 6px;
    display: block;
    width: 220px;
    padding: 6px 0;
    margin: 0 auto;
    margin-bottom: 12px;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: $blue;
    }
  }
  .scores.row {
    margin: 0;
    .telegram {
      width: 47%;
      display: inline-block;
      text-align: center;
      .fa {
        color: $font_black;
        font-size: 20px;
        margin-right: 15px;
      }
      .telegram__score {
        font-size: 16px;
      }
    }
    .pipe {
      display: inline-block;
      text-align: center;
    }
    .light {
      width: 47%;
      display: inline-block;
      text-align: center;
      .light__icon {
        margin-right: 15px;
        img {
        margin-bottom: 5px;
        }
      }
      .light__score {
        font-size: 16px;
      }
    }
  }
}
