@import "./config/variable";
@import "./config/reset";
@import "./config/fonts";
@import "./mixin/mixins";

@import "devise";
@import "navbar";
@import "footer";
@import "towa_form";
@import "user_info";
@import "meaning_box";
@import "mypedia";
@import "towapage";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  margin-top: 70px;
}
